
@{
    ViewBag.Title = "DenHan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách đến hạn</h2>

<br />


<br />

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Giá trị</th>
            <th>Ngày đấu giá</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Tên đơn vị SD</th>
            <th>Tình trạng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.ID</td>
                <td class="text-center">@item.GiaTri</td>
                <td class="text-center">@item.NgayDauGia</td>
                <td class="text-center">@item.NgayBatDau</td>
                <td class="text-center">@item.NgayKetThuc</td>
                <td class="text-center">@item.TenDonViSD</td>
                <td class="text-center"> Sắp hết hạn</td>
            </tr>
        }


</table>
<style>
    button.swal2-confirm.btn.btn-success {
        margin-left: 8px
    }
</style>
<script>
    $(document).ready(function () {
        $('#example').DataTable();


    });
    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
    })
    $(".Delete").click(function () {
        var id = $(this).attr("data-item");
        console.log(id);
        swalWithBootstrapButtons.fire({
            title: 'Bạn đã chắc chắn?',
            text: "Nếu bạn xóa thì không khôi phục được!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Vâng',
            cancelButtonText: 'Hủy!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "GET",
                    url: "https://localhost:44361/Home/Delete?ID=" + id,
                    success: function (data) {
                        if (data.mess == "success") {
                            swalWithBootstrapButtons.fire({

                                icon: 'success',
                                title: 'Đã xóa',
                                text: 'Bạn đã xóa thành công',
                                showConfirmButton: true,

                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload()
                                }
                            })

                        }
                        else {
                            swalWithBootstrapButtons.fire(
                                'Có lỗi',
                                'Có lỗi xảy ra, vui lòng thử lại.',
                                'error'
                            )
                        }
                    }
                });


            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Đã hủy',
                    'Đã hủy thao thác từ chối yêu cầu',
                    'error'
                )
            }
        })
    })
</script>


